<app-navigation></app-navigation>

<div class="d-flex justify-content-evenly">
    <div class="blank_space" style="width: 10%"></div>
    <div style="width: 70%">
        <router-outlet></router-outlet>
    </div>
    <ng-container *ngIf="(categoryState$ | async) as categoryState">
        <ng-container *ngIf="categoryState.appData as appData">
            <div style="width: 10%">
                <div class="mb-3 fs-3 color-medium ps-2" style="color:#FCFFE7;">Category</div>
                <p *ngFor="let category of appData.data.categories" class="ps-3">
                    <a [routerLink]="['/category', category.id]" class="text-decoration-none" style="color: #CE9461">{{ category.category }}</a>
                </p>
            </div>
        </ng-container>
    </ng-container>
</div>

<footer>
    <div class="container-fluid d-flex justify-content-center align-items-center color-dark" style="position: fixed; bottom: 0; height:4vh; color:#FCFFE7;">
        &#169; Happy Book Store 2021
    </div>
</footer>